<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="assets/foto_mina.png"/>
      <ion-card-header>
        <ion-card-subtitle>Red de Redes</ion-card-subtitle>
        <ion-card-title>Accionet</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Conectamos marcas y  clientes a través de Wifi. ¿Por qué Wifi? Porque creemos que el acceso a internet debe ser gratuito para el usuario y constituye una oportunidad para las marcas de transmitir su mensaje.

El Wifi nos permite crear un canal de comunicación directo entre empresas, marcas o instituciones y usuarios. Nuestros servicios satisfacen las necesidades de una mayoría de usuarios que buscan estar conectados e informados, y la de una mayoría de empresas y marcas que necesitan comunicarse con sus clientes a través de internet.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://accionet.cl/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Como lo hacemos ?</ion-label>
      </ion-item>
      <ion-item href="/network/">
        <ion-icon slot="start" color="medium" name="wifi"></ion-icon>
        <ion-label>Nuestras Redes</ion-label>
      </ion-item>
      <ion-item href="https://accionet.cl/">
        <ion-icon slot="start" color="medium" name="git-network"></ion-icon>
        <ion-label>Maestros del internet</ion-label>
      </ion-item>
      <ion-item href="https://accionet.cl/">
        <ion-icon slot="start" color="medium" name="mail"></ion-icon>
        <ion-label>Contactanos</ion-label>
      </ion-item>
    </ion-list>
  <img src="assets/accionet.png"/>
</ion-content>
